services/n8n-workflows/archive/apple-mcp-master-router.json
{
  "meta": {
    "instanceId": "kenny-apple-mcp-master-router"
  },
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.intent }}",
              "rightValue": "contacts",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [400, 300],
      "parameters": {
        "options": {
          "allMatchingOutputs": false
        },
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "contacts",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "contacts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "messages",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "messages"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "mail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "calendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calendar"
            }
          ]
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/apple-contacts-search",
        "sendHeaders": true,
        "headerParameters": {
          "Content-Type": "application/json"
        },
        "sendBody": true,
        "bodyParameters": {
          "query": "={{ $json.query }}",
          "limit": "={{ $json.limit || 10 }}"
        }
      },
      "id": "call-contacts-workflow",
      "name": "Call Contacts Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/apple-messages-action",
        "sendHeaders": true,
        "headerParameters": {
          "Content-Type": "application/json"
        },
        "sendBody": true,
        "bodyParameters": {
          "action": "={{ $json.action }}",
          "arguments": "={{ $json.arguments }}"
        }
      },
      "id": "call-messages-workflow",
      "name": "Call Messages Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/apple-mail-action",
        "sendHeaders": true,
        "headerParameters": {
          "Content-Type": "application/json"
        },
        "sendBody": true,
        "bodyParameters": {
          "action": "={{ $json.action }}",
          "arguments": "={{ $json.arguments }}"
        }
      },
      "id": "call-mail-workflow",
      "name": "Call Mail Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/apple-calendar-action",
        "sendHeaders": true,
        "headerParameters": {
          "Content-Type": "application/json"
        },
        "sendBody": true,
        "bodyParameters": {
          "action": "={{ $json.action }}",
          "arguments": "={{ $json.arguments }}"
        }
      },
      "id": "call-calendar-workflow",
      "name": "Call Calendar Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Apple MCP Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "apple-mcp-router"
    }
  ],
  "connections": {
    "webhook-trigger": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Call Contacts Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Messages Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Mail Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Calendar Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}